html{
    background-color: #37663d;
    overflow: hidden;
}

.header {
    background-color: #237a2e;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex; 
    justify-content: space-between;
}

.logo{
    width: 100px;
}

.warning {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin: 10px;
}

.dica{
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 10px;
    border: 1px solid #bee5eb;
    border-radius: 5px;
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo da página tenha pelo menos a altura da janela de visualização */
}

button{
    background-color: #228848;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #33bb45;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.container1 {
    background-color: #479451;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex-grow: 1;
}

.container {
    background-color: #479451;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex-grow: 1;
}


.animation {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #267e46;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex; 
    justify-content: space-between;
}

.animation p {
    margin: 5px;
}

.animation div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}


.footer {
    margin-top: auto;
    background-color: #237a2e;
    color: #fff;
    text-align: center;
    display: flex; 
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    /* Adicionando sombra para dar profundidade */
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-media img {
    width: 30px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

/* Confettis */

.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.8;
    animation: confetti-fall linear infinite;
}

@keyframes confetti-fall {
    0% { transform: translateY(-100vh) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(360deg); }
}


/* Responsiveness for mobile devices */
@media only screen and (max-width: 600px) {
    html{
        overflow: auto;
    }
    
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .columns {
        flex-direction: column;
        align-items: center;
    }

    .container1,
    .container {
        margin: 10px;
    }

    .animation {
        display: block;
    }
}
